@import "../../../scss/vars";


.background__mazda {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 506px;
  width: 100%;
  .mazda {
    margin-top: 45px;
    padding: 20px;
    border: 2px solid $white;
    max-width: 400px;
    box-shadow: 20px 20px 20px;
    p {
      margin: 5px;
      color: $white;
      &:nth-child(1) {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 3px;
      }
      &:nth-child(2) {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 5px;
      }
      &:nth-child(3) {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }
}
