@import "../../scss/vars";

.hero_slider {
  position: relative;
  height: 506px;
  .next {
    position: absolute;
    z-index: 96;
    top: 40%;
    right: 10px;
    &:hover {
      top: 41%;
    }
  }
  .gap {
    position: absolute;
    gap: 20px;
    bottom: 30px;
    left: 45%;
    right: 45%;
    transition: all 2s;
  }
  .back {
    z-index: 96;
    position: absolute;
    top: 40%;
    left: 10px;
    &:hover {
      top: 39%;
    }
  }
  .span {
    display: block;
    border-radius: 50%;
    border: 2px solid $white;
    width: 20px;
    height: 20px;
  }

}
