@import "../../scss/vars";

.mainDiv {
  background-color: $gray2;
  padding: 80px 0;
  div:nth-child(1) {
    .text1 {
      margin: 0;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 5px;
    }
    .text2 {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        max-width: 780px;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 1px;
        color: #3f3d3d;
      }
    }
  }
  .block_flex {
    gap: 30px;
    text-align: start;
    margin-top: 50px;
    align-items: stretch;
    .block1 {
      border-top: 3px solid $red;
      padding: 35px 70px 70px 50px;
      align-items: start;
      flex: 2 2 10%;
      background-color: $white;
    }
    .block2 {
      background-color: $white;
      flex: 2 2 10%;
      height: 100%;
      border-top: 3px solid $red;
      padding: 35px 70px 60px 50px;
      align-items: start;

      .link {
        text-decoration: none;
        color: brown;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        gap: 20px;
        margin-bottom: 40px;
      }
    }
  }
  .text3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
  }
  .text4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .link__item {
    display: block;
    text-decoration: none;
    margin-top: 15px;
    color: #910a2d;
  }
  .span {
    display: block;
    margin: 18px 0 64px 0;
    background-color: red;
    height: 4px;
    width: 8%;
    text-align: center;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 5px;
  }
  .flex2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .flex3{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      gap: 20px;
      max-width: 550px;
      max-height: 150px;
      p:nth-child(1){
        font-size: 85px;
        font-weight: 700;
        line-height: 95px;
        color: $white;
      }
    }
  }
  .text5{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 20px;
      font-weight: 700;
      line-height: 33px;
      color: $black;;
    }

  }
}
