@import "../../scss/vars";
header {
  background: $black2;
  color: $white;
  .gap {
    gap: 45px;
  }
  .white {
    color: $white;
  }
  button {
    height: 42px;
    color: $white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
  }

  .button__block {
    border: 1px solid $gray;
    border-radius: 5px;
    &:hover {
      background-color: $gray;
      outline: 2px solid $black2;
      .height {
        color: $black2;
      }
    }
  }
  .location {
    color: $gray;
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      margin: 5px;
    }
  }
  .connection {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      height: 21px;
      width: 21px;
      padding: 12px;
      border: 1px solid $gray;
      border-radius: 50%;
      text-align: center;
    }
  }
  nav {
    background-color: $white;

    ul {
      padding: 22px 0;
      list-style-type: none;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 30px;

      li {
        color: $black2;
        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        position: relative;

        &:hover {
          cursor: pointer;
          &:after {
            display: block;
          }
        }

        a{
          text-decoration: none;
          color: $black2;
        }

        &:after {
          content: "";
          display: none;
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 100%;
          height: 3px;
          background: $yellow2;
        }
      }
    }
  }
}
