@import "../../../scss/vars";


.background__grid {
  background-color: $gray2;
  .grid {
    transition: all 2s;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . .";
    padding: 60px 0;
  }
}
.flex {
  background-color: $white;
  .span {
    display: block;
    margin: 18px 0 64px 0;
    background-color: red;
    height: 4px;
    width: 8%;
    text-align: center;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 5px;
  }
  .mazdas {
    gap: 100px;
    margin: 0 10%;
  }
  .span_2 {
    display: block;
    background-color: $gray;
    height: 1px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .title_2{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 5px;
    color: #565656;
  }
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 40px;
    grid-template-areas:
        ". ."
        ". ."
        ". ."
        ". .";
    div{
      display: flex;
      align-items: center;
      text-align: start;
      border-bottom: 2px dotted $gray;
      padding-bottom:10px;
      padding-left: 15px;

      p{
        position: relative;

        &:after{
          content: "";
          display: block;
          position: absolute;
          top:5px;
          left: -15px;
          width: 3px;
          border: 3px solid $red;
          height: 3px;
        }
      }

    }
  }
}
.flex_2{
  gap: 40px;
  .flex_3{
    gap: 20px;
  }
  .divBlock{
    max-width: 270px;
  }
  .prei{
    border: 1px solid $gray;
    border-radius: 100%;
    img{
      width: 35px;
      height: 40px;
      object-fit: cover;
    }
  }
  p{
    text-align: start;
  }
}

