@import "../../scss/vars";

.ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: white;
  padding: 0;
  li:nth-child(3){
    color: #c5c5c5;
  }
  li:nth-child(5){
    color: #656464;
  }
}