@import "../../scss/vars";

.input{
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #4F4F4F;
  background-color: $white;
  border: none;
  width: 30%;
  text-decoration: none;
  outline: none;
  border-radius: 3px;

}

