@import "../../scss/vars";

.link{
  text-decoration: none;
  &:hover{
    outline: black 3px solid ;
    .category__block{
      background-color: $gray;
    }
  }
}

.category__block{
  background-color: $white;
  color: $black;
  .border__r{
    padding: 35px;
    border-right: 1px solid $gray2 ;

  }
  p{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
  }
}